/* General styles for the app */
.app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin-top: 80px;
}

/* Sidebar styles */
.sidebar {
  width: 20%;
  height: 98%;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.regenerate-btn {
  background-color: #2a74ca;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: -10px;
}

.setting-group {
  margin-bottom: 20px;
  background-color: white;
}

.setting-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 30px;
  background-color: white;
}

.difficulty-options label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.difficulty-options input {
  margin-right: 10px;
}

.setting-group select {
  width: 20;
  height: 30vh;
  background-color: white;
}

/* QA Pane styles */
.qa-pane {
  width: 60%;
  padding: 20px;
  background-color: #ffffff;
  border-left: 2px solid #f0f0f0;
  border-right: 2px solid #f0f0f0;
}

.qa-pane h2 {
  margin-bottom: 20px;
}

.question-type {
  margin-bottom: 30px;
}

.question-type h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

button {
  /* background-color: #4CAF50; */
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1%;
}

button:disabled {
  background-color: #446ef7;
}

.feedback {
  margin-top: 10px;
  font-weight: bold;
  color: #555555;
}

/* Extras styles */
.extras {
  width: 20%;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.extras h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.extras ul {
  list-style-type: none;
  padding: 0;
}

.extras ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.extras ul li::before {
  content: "• ";
  /* color: #4CAF50; */
}
